name: Build and Release

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare Files
        run: |
          # Убираем Windows-окончания строк (CRLF -> LF)
          find . -name "*.sh" -exec sed -i 's/\r$//' {} +
          find . -name "module.prop" -exec sed -i 's/\r$//' {} +
          # Создаем ZIP
          zip -r9 "Heroku_Module.zip" . -x ".git*" ".github*" "README.md"

      - name: Update Release
        uses: itemprop/action-gh-release@v1
        with:
          tag_name: latest
          name: Latest Build
          files: Heroku_Module.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
