name: Build and Release
on:
  push:
    tags:
      - 'v*' # Сработает, когда вы создадите тег версии (например v1.0)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Zip Module
        run: zip -r Heroku_Magisk.zip . -x ".git*" ".github*"
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: Heroku_Magisk.zip
          
